* {
	padding: 0;
	margin: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body, input, button, select, textarea {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 13px;
	background: #fff;
}

a:visited, a:link {
	color: #067ad8;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #ff9c11;
}

input[type=text], input[type=checkbox], input[type=password], select {
	font-size: 16px;
	line-height: 16px;
	padding: 4px 6px;
	border: 2px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#wrapper {
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
	min-width: 900px;
	padding: 0px;
}

#header {
	color: #333;
	margin: 0px;
	display: block;
	background: #666 url(images/topbg.png) top left repeat;
	min-width: 900px;
}

#logo {
	display: inline;
	float: left;
	min-width: 200px;
	width: 15%;
}

#search {
	padding: 10px 0px 0px 0px;
	line-height: 20px;
	display: inline;
	float: left;
	min-width: 720px;
	width: 63%;
}

#searchQuery {
	min-width: 600px;
	width: 85%;
	border: 4px solid #999;
	border-right: 1px solid #999;
	border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	font-size: 14px;
	padding: 5px;
	line-height: 21px;
	margin-right: 0px;
}

.searchfocus {
	background: #fff url(images/searchbg.png) center left no-repeat;
}

#searchQuery:focus {
	background: #fff;
}

#searchSubmit {
	min-width: 90px;
	border: none;
	border-left: none;
	border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	font-size: 14px;
	padding: 5px;
	line-height: 29px;
	background: #ff9c11;
	margin-left: 0px;
	cursor: pointer;
}

#cartwidget {
	float: right;
	margin: 10px;
	height: 41px;
	width: 100px;
	padding: 0px;
}

#cartwidget a {
	padding: 0px;
	color: #000;
}

#cartwidget a:hover {
	text-decoration: none;
	color: #000;
}

#cartwidget img {
	margin-bottom: -30px;
	margin-right: -50px;
}

#cartwidget .totalcount {
	z-index: 3;
	display: inline-block;
	height: 26px;
	width: 26px;
	font-weight: bold;
	border: 3px solid #ff9c00;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	background: #fff;
	padding: 1px 0px;
	text-align: center;
	line-height: 20px;
}

.clear {
	clear: both;
	height: 0px;
}

#navigation {
	color: #fefefe;
	padding: 0px 20px;
	margin: 0px;
	background: #666 url(images/topbg.png) top left repeat;
	min-width: 900px;
}

#navmenu {
	padding: 15px 0px 0px 0px;
	line-height: 26px;
	font-size: 14px;
	display: inline;
	float: left;
	width: 75%;
}

#usermenu {
	padding: 15px 0px;
	line-height: 20px;
	display: inline;
	float: right;
	text-align: right;
	width: 25%;
}

#content {
	color: #333;
	margin: 0px auto 10px auto;
	padding: 10px;
	min-height: 480px;
}

#footer {
	color: #ddd;
	background: #222;
	margin: 0px auto;
	padding: 15px 100px;
	min-height: 200px;
}

.col3 {
	width: 33%;
	float: left;
	padding: 10px 40px;
	display: inline;
	min-width: 250px;
	min-height: 180px;
}

.rightseparator {
	background: url(images/colborder.png) top right no-repeat;
}

.section-title-container {
	background: url(images/sectiontitlebgsmall.png) bottom left no-repeat;
	padding: 5px 10px;
	margin-bottom: 10px;
	border-radius: 10px 0px 0px 10px;
	-moz-border-radius: 10px 0px 0px 10px;
	border-bottom: 3px solid #0d2944;
	width: 99%;
}

h2.section-title {
	font-size: 18px;
	font-weight: bold;
	padding-top: 10px;
	color: #fff;
	display: inline;
	float: left;
}

.toolbox {
	display: inline;
	float: right;
	margin-right: 22px;
}

.widgetcontainer {
	margin: 30px 10px;
	width: 100%;
	min-width: 400px;
}

.widget {
	width: 220px;
	height: 320px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #aaa;
	margin: 12px;
	float: left;
	display: inline;
	padding: 0px;
	overflow: hidden;
}

.widget .widget-icon {
	width: 100%;
	padding: 0px;
	text-align: center;
	height: 222px;
}

.widget .widget-icon img {
	border: none;
	width: 100%;
	height: auto;
}

.widget .widget-text {
	margin: 2px 10px 4px 10px;
	height: 66px;
	overflow: hidden;
}

.widget .widget-title {
	font-size: 14px;
	font-weight: bold;
	padding: 0px;
	margin: 1px;
}

.widget .widget-footer {
	font-weight: bold;
	font-size: 16px;
	line-height: 26px;
	color: #333;
	background: #eee;
	margin: 0px;
	display: block;
	height: 28px;
}

.widget .widget-footer .widget-footer-left {
	float: left;
	width: 55%;
	display: inline;
	background: url(images/widget-footer-left-bg.png) top right no-repeat;
	margin: 0px;
	padding-left: 5px;
}

.widget .widget-footer .widget-footer-right {
	float: right;
	width: 45%;
	display: inline;
	text-align: right;
	text-transform: uppercase;
	background: #067ad8;
	font-size: 18px;
	margin: 0px;
	padding-right: 5px;
	color: #fff;
}

.widget:hover {
	box-shadow: 0px 1px 3px 2px #ff8c00;
	-webkit-box-shadow: 0px 1px 3px 2px #ff8c00;
	-moz-box-shadow: 0px 1px 3px 2px #ff8c00;
	/* For IE<9 */
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#ff8c00,
		direction=0, strength=3), progid:DXImageTransform.Microsoft.Shadow(color=#ff8c00,
		direction=45, strength=1), progid:DXImageTransform.Microsoft.Shadow(color=#ff8c00,
		direction=90, strength=3), progid:DXImageTransform.Microsoft.Shadow(color=#ff8c00,
		direction=135, strength=1), progid:DXImageTransform.Microsoft.Shadow(color=#ff8c00,
		direction=180, strength=3), progid:DXImageTransform.Microsoft.Shadow(color=#ff8c00,
		direction=225, strength=1), progid:DXImageTransform.Microsoft.Shadow(color=#ff8c00,
		direction=270, strength=3), progid:DXImageTransform.Microsoft.Shadow(color=#ff8c00,
		direction=315, strength=1);
}

.widget a {
	text-transform: none;
	text-decoration: none;
	color: #222;
	padding: 0px;
	margin: 0px;
}

.gridcontainer {
	margin: 30px 10px;
	width: 100%;
	min-width: 400px;
}

.griditem {
	width: 98%;
	height: 180px;
	border: none;
	border-bottom: 1px solid #aaa;
	margin: 12px;
	display: block;
	padding: 5px 30px;
	vertical-align: middle;
}

.griditem:last-child {
	border: none !important;
}

.griditem-icon {
	min-width: 160px;
	width: 15%;
	float: left;
	display: inline;
}

.griditem .griditem-icon img {
	border: 1px solid #aaa;
	width: 150px;
	height: auto;
	margin: 0px;
}

.griditem-text {
	width: 64%;
	min-width: 400px;
	float: left;
	display: inline;
}

.griditem-text .griditem-title {
	font-size: 18px;
	font-weight: bold;
}

.griditem-text .griditem-desc {
	width: 100%;
	display: block;
	margin-top: 10px;
	font-size: 14px;
}

.griditem-text .griditem-desc .griditem-price {
	font-size: 16px;
	color: #555;
}

.griditem-text .griditem-desc .griditem-spec {
	margin-top: 10px;
	height: 80px;
	display: table-cell;
	vertical-align: bottom;
}

.griditem-tools {
	width: 20%;
	min-width: 160px;
	float: right;
	text-align: right;
}

.gridbtn {
	
}

.gridbtn img {
	margin: auto;
	vertical-align: middle;
	display: inline-block;
	margin: 3px auto;
}

.note {
	font-size: 12px;
	font-style: italic;
	color: #222;
	margin: auto 10px;
}

.redtext {
	color: red;
}

.greentext {
	color: green;
}

.boldtext {
	font-weight: bold;
}

.loadingDiv {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	display: block;
	z-index: 105;
}

.loadingOverlay {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	display: block;
	z-index: 105;
	background: #333;
	opacity: 0.6;
	text-align: center;
}

.loadingDiv img {
	position: absolute;
	z-index: 110;
}

.paginator {
	text-align: center;
	width: 100%;
}

.paginator a:link, .paginator a:visited, .paginator a:hover {
	margin: 2px;
	padding: 5px 10px;
	border: 2px solid #067ad8;
	color: #067ad8;
	background: #eee;
	text-decoration: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-weight: bold;
}

.paginator a:hover {
	background: #fff;
	border: 2px solid #099ad8;
}

.paginator a.current-page {
	margin: 2px;
	padding: 5px 10px;
	border: 2px solid #000;
	color: #000;
	background: #ff9c11;
	text-decoration: none;
	font-weight: bold;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-weight: bold;
}

.paginator select {
	border: 2px solid #067ad8;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #067ad8;
	padding: 5px 10px;
	cursor: pointer;
}

/** jQueryUI Customizations and Fixes **/
.ui-widget-overlay {
	opacity: .6 !important;
	background: #111;
}

.ui-dialog {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	padding: 0px !important;
}

.dialog .bd {
	margin-top: 10px;
}

.ui-dialog .ui-dialog-content {
	
}

.ui-dialog-titlebar {
	margin: 0px;
}

.ui-button {
	font-size: 14px;
	padding: px 15px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #00a1ff;
	margin: 2px;
}

.ui-autocomplete .ui-menu-item {
	color: #666 !important;
}

.ui-autocomplete .ui-menu-item .ui-state-active {
	color: #333;
	background: #eee !important;
	border: none;
}